body {
  background: green;
  margin: 20px;
}


/*TYPOGRAPHY*/
h1 {
  font-family: Rye, Arial, serif; font-weight: 400;
  color: black;
  margin-left: 25px;
}

h2, h3 {
  font-family: Rye, Arial, serif; font-weight: 400;
  color: black;
}

.buttons {
  margin-left: 20px;
}

.center-text {
  text-align: center;
}

.card  {
  max-height: 80px;
  margin: 4px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 5px 0px rgba(0,0,0,0.5);  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 5px 0px rgba(0,0,0,0.5);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.hide-card  {
  display: none;
}

.hand-box  {
  background: white;
  border: 1px solid black;
  margin: 10px;
  padding: 0px 10px;
  width: 400px;
  border-radius: 5px;
}

.hand  {
  display: inline-block;
}

#dealer-hand  {
}

#dealer-score  {
  /*clear: left;*/
}

#player-score  {
  /*clear: left;*/
}
